body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  margin-top: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-color: #EE9966;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* Asegura que el header esté por encima del contenido */
}

.start-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Centra verticalmente */
  flex-direction: row;
}

.photoURL {
  display: flex;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 8px;
}

.logo {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  /* Centra horizontalmente */
  width: 15%;
  /* Reduce el tamaño del logo */
  max-width: 100%;
  margin: auto;
  /* Centra horizontalmente si el ancho es menor al máximo */
  margin-left: 15%;
}

#textDescription {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background: #EBE9E9;
  border: 20px;
  border-radius: 15px;
  margin: 5px;
  box-sizing: border-box;
  height: auto;
  /* Cambiamos de 30px a auto */
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px;
  resize: none;
  width: 75%;
  text-align: center;
  line-height: 1;
}

#containerPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 5px 15px;
  width: 80%;
  background: #FAF8F7;
  border-radius: 10px;
  margin-bottom: 30px;
}

.postText {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.postTime {
  font-size: 12px;
  color: #8d8d93;
  align-self: center;
  /* Utiliza align-self para centrar solo este elemento */
  margin-top: 1px;
}

h1,
h2 {
  color: #C96A36;
  font-weight: bold;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  background-color: #C96A36;
  height: 35px;
  width: 35%;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  margin: 10px;
}

.btnGoogle {
  display: inline-block;
  justify-content: space-between;
  color: #8d8d93;
  box-shadow: 3px 3px 6px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  vertical-align: middle;
  padding-left: 18%;
  background-image: url(./imagenes/btn_google_light_normal_ios.svg);
  background-repeat: no-repeat;
  height: 45px;
  width: 45%;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  margin: 10px;
  box-sizing: content-box;
}

.btnGoogle:hover {
  color: #FFFFFF;
  background-color: #4285F4;
}

.like-container {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  border-top: 1px solid #EBE9E9;
  /* Línea delgada arriba de los likes */
  padding-top: 5px;
  /* Espaciado para separar la línea del contenido superior */
}

.btn-container {
  display: flex;
  /*position: relative;*/
  margin: 0 auto;
  /* Establecer márgenes automáticos a la izquierda y derecha */
  margin-bottom: 10px;
  justify-content: flex-end;
  /* Alinear elementos a la derecha */
}

.btn-like {
  background-image: url(./imagenes/upLike.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  background-color: #EBE9E9;
  height: 40px;
  width: 40px;
  margin-top: 10px;
}

.btn-like.liked {

  background-image: url(src/imagenes/upLike.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
  height: 40px;
  width: 40px;
}

.LogOutButton {
  color: #282F39;
  font-family: 'Lato', sans-serif;
  font-size: 60%;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background-color: #FFFFFF;
  height: 25px;
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  /* Centra el texto horizontalmente */
  margin-top: 7%;
}

.btn-delete {
  font-family: 'Lato', sans-serif;
  font-size: 50%;
  color: #C96A36;
  background-color: #7B3E44;
  margin: 5px;
  height: 25px;
  width: 25px;
  /* Cambiamos el ancho a "auto" para que se ajuste al contenido */
  vertical-align: middle;
  /* Alineamos verticalmente los botones */
  background-image: url(./imagenes/trash.svg);
  /* Ruta de la imagen del icono */
  background-size: 12px 12px;
  /* Ajusta el tamaño del icono */
  background-position: center;
  /* Alinea el icono dentro del campo */
  background-repeat: no-repeat;
  /* Evita que el icono se repita */
  padding-left: 3%;
  /* Deja espacio para el icono en el lado derecho */
  box-sizing: border-box;
  /* Incluye el padding en el ancho total del input */
  margin-left: auto;
  /* Alinea el campo de búsqueda a la derecha */
}

.btn-edit {
  font-family: 'Lato', sans-serif;
  font-size: 50%;
  color: #444E5E;
  background-color: #7B3E44;
  margin: 5px;
  height: 25px;
  width: 25px;
  /* Cambiamos el ancho a "auto" para que se ajuste al contenido */
  vertical-align: middle;
  /* Alineamos verticalmente los botones */
  background-image: url(./imagenes/edit.svg);
  /* Ruta de la imagen del icono */
  background-size: 12px 12px;
  /* Ajusta el tamaño del icono */
  background-position: center;
  /* Alinea el icono dentro del campo */
  background-repeat: no-repeat;
  /* Evita que el icono se repita */
  padding-left: 3%;
  /* Deja espacio para el icono en el lado derecho */
  box-sizing: border-box;
  /* Incluye el padding en el ancho total del input */
  margin-left: auto;
  /* Alinea el campo de búsqueda a la derecha */
}

.btn-update {

  font-family: 'Lato', sans-serif;
  font-size: 50%;
  color: #444E5E;
  background-color: #7B3E44;
  margin: 5px;
  height: 25px;
  width: 25px;
  /* Cambiamos el ancho a "auto" para que se ajuste al contenido */
  vertical-align: middle;
  /* Alineamos verticalmente los botones */
  background-image: url(./imagenes/check.svg);
  /* Ruta de la imagen del icono */
  background-size: 12px 12px;
  /* Ajusta el tamaño del icono */
  background-position: center;
  /* Alinea el icono dentro del campo */
  background-repeat: no-repeat;
  /* Evita que el icono se repita */
  padding-left: 3%;
  /* Deja espacio para el icono en el lado derecho */
  box-sizing: border-box;
  /* Incluye el padding en el ancho total del input */
  margin-left: auto;
  /* Alinea el campo de búsqueda a la derecha */

}

.user-image {
  margin: 5px;
  height: 35px;
  width: 35px;
  /*Cambiamos el ancho a "auto" para que se ajuste al contenido */
  border-radius: 50%;
  box-sizing: border-box;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  /* Alinea a la izquierda */
  width: 100%;
  font-weight: bold;
  align-items: center;
}

.btn-delete:hover,
.btn-edit:hover,
.btn-update:hover {
  background-color: #EE9966;
  /*Cambio de color al pasar el mouse sobre el botón*/
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  /* margin-top: 10px; */
}

.startPageSection {
  margin-top: 70px;
  /* Ajusta el valor del margen superior según tus preferencias */
}

input {
  background-color: #f1f0f0;
  width: 50%;
  padding: 10px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#button-Login {
  position: fixed;
  bottom: 100px;

}

#button-Register {
  position: fixed;
  bottom: 50px;
}

.title {
  position: fixed;
  bottom: 150px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  background-image: url('./imagenes/Mobile.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-color: #EE9966;
    height: 80px;
    width: 100%;
    position: fixed;
  }

  .logo {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    /* Centra horizontalmente */
    width: 7%;
    /* Reduce el tamaño del logo */
    max-width: 100%;
    margin: auto;
    /* Centra horizontalmente si el ancho es menor al máximo */
    margin-left: 20%;
  }

  section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    /* margin-top: 10px; */
  }

  h1,
  h2 {
    font-size: 36px;
  }

  input {
    font-size: 18px;
  }

  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    background-image: url('./imagenes/ipad.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .LogOutButton {
    display: inline;
    margin-left: 15%;
    /* Alinea a la derecha */
    margin-top: 25px;
    text-align: center;
    /* Centra el texto horizontalmente */
    color: #282F39;
    font-family: 'Lato', sans-serif;
    font-size: 70%;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    height: 35px;
    width: 12%;
    box-sizing: border-box;
  }

  .btnGoogle {
    display: inline-block;
    justify-content: space-between;
    color: #8d8d93;
    box-shadow: 3px 3px 6px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    vertical-align: middle;
    padding-left: 5%;
    background-image: url(./imagenes/btn_google_light_normal_ios.svg);
    background-repeat: no-repeat;
    height: 45px;
    width: 45%;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    margin: 10px;
    box-sizing: content-box;
  }

  .btnGoogle:hover {
    color: #FFFFFF;
    background-color: #4285F4;
  }

  .startPageSection {
    margin-top: 12%;
  }

  .post {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 5px 15px;
    width: 80%;
    background: #FAF8F7;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .postText {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
  }

  .postTime {
    margin-bottom: 20px;
  }

  .like-container {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    padding-top: 5px;
    /* Espaciado para separar la línea del contenido superior */
  }

  .btn-container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px;
    justify-content: flex-end;
  }

  #textDescription {
    width: 70%;
  }

}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-color: #EE9966;
    height: 100px;
    width: 100%;
    position: fixed;
  }

  .logo {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    /* Centra horizontalmente */
    width: 7%;
    /* Reduce el tamaño del logo */
    max-width: 100%;
    margin: auto;
    /* Centra horizontalmente si el ancho es menor al máximo */
    margin-left: 20%;
  }

  section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
  }

  h1,
  h2 {
    font-size: 36px;
  }

  input {
    font-size: 18px;
  }

  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    background-image: url('./imagenes/desk.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .post {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 5px 15px;
    width: 80%;
    background: #FAF8F7;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .btn-container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px;
    justify-content: flex-end;
  }

  .LogOutButton {
    display: inline;
    margin-left: 15%;
    /* Alinea a la derecha */
    margin-top: 35px;
    text-align: center;
    /* Centra el texto horizontalmente */
    color: #282F39;
    font-family: 'Lato', sans-serif;
    font-size: 70%;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    height: 35px;
    width: 12%;
    box-sizing: border-box;
  }

  .btnGoogle {
    display: inline-block;
    justify-content: space-between;
    color: #8d8d93;
    box-shadow: 3px 3px 6px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    vertical-align: middle;
    padding-left: 5%;
    background-image: url(./imagenes/btn_google_light_normal_ios.svg);
    background-repeat: no-repeat;
    height: 45px;
    width: 45%;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    margin: 10px;
    box-sizing: content-box;
  }

  .btnGoogle:hover {
    color: #FFFFFF;
    background-color: #4285F4;
  }

  .startPageSection {
    margin-top: 11%;
  }

  #textDescription {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65%;
    padding: 20px;
  }

}

@media screen and (min-width: 1440px) {
  #textDescription {
    align-items: center;
    flex-direction: column;
    width: 66%;
  }

  header {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-color: #EE9966;
    height: 100px;
    width: 100%;
    position: fixed;
  }

  .logo {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    /* Centra horizontalmente */
    width: 5%;
    /* Reduce el tamaño del logo */
    max-width: 100%;
    margin: auto;
    /* Centra horizontalmente si el ancho es menor al máximo */
    margin-left: 21%;
  }

  .startPageSection {
    margin-top: 8%;
  }
}